name: builder image workflow

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - ".github/workflows/builder-image.yml"
      - "images/builder/Dockerfile"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: sovereigncloudstack
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: ./images/builder/Dockerfile
          context: ./images/builder
          push: true
          tags: ghcr.io/sovereigncloudstack/csctl-builder:0.2.3
